<p>international-patient works!</p>

<a routerLink="Locations">Locations</a>&nbsp;&nbsp;

<a routerLink="PatientTestimonials">PatientTestimonials</a>&nbsp;&nbsp;

<a routerLink="ServiceFacilities">ServiceFacilities</a>&nbsp;&nbsp;

<a routerLink="Specialties">Specialties</a>&nbsp;&nbsp;

<a routerLink="InstituteOfNeuroSciences">TechnologyAndInnovation</a>&nbsp;&nbsp;

<a routerLink="">Refresh</a>&nbsp;

<div style="background-color: rgb(226, 43, 180);">
    <router-outlet></router-outlet>
</div>