<p>institute works!</p>
<a routerLink="InstituteOfCardiaSciences">InstituteOfCardiaSciences</a>&nbsp;&nbsp;

<a routerLink="InstituteOfDentalScience">InstituteOfDentalScience</a>&nbsp;&nbsp;

<a routerLink="InstituteOfGastroenterologyHepatology">InstituteOfGastroenterologyHepatology</a>&nbsp;&nbsp;

<a routerLink="InstituteOfHeartLungTransplantation">InstituteOfHeartLungTransplantation</a>&nbsp;&nbsp;

<a routerLink="InstituteOfNeuroSciences">InstituteOfNeuroSciences</a>&nbsp;&nbsp;

<a routerLink="">Refresh</a>&nbsp;

<div style="background-color: rgb(226, 43, 180);">
    <router-outlet></router-outlet>
</div>